body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5%;
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 700;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dreem-big {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.box-shadow {
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    padding: 30px;
    margin-left: 40px;

}

.experiance-area {
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
}

#fullstak-border {
    border-left: 5px solid tomato;
}

#baby-border {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}